= div_for news do
  %span.date-publication= t('whitekit_news.date_publication')
  %span.date= news.updated_at.to_formatted_s :short
  %h3= link_to news.title, news_path(news)
  - if news.image.present?
    = link_to image_tag(news.image.thumb.url), news_path(news)
  = sanitize news.content
  = link_to t('whitekit_news.more'), news_path(news), class: 'more'
