- if @news.present?
  = div_for @news, :detail do
    %span.date-publication= t('whitekit_news.date_publication')
    %span.date= @news.updated_at.to_formatted_s :short
    %h1= @news.title
    - if @news.image.present?
      = link_to image_tag(@news.image.preview.url), @news.image.url, title: @news.title, rel: 'lightbox'
    = raw @news.content
    = edit_news_for_admin
- else
  = t('whitekit_news.no_one_news')
#all-news
  = link_to t('whitekit_news.all'), news_index_path, class: 'all'

